:root {
  --color-black: #0f0f0f;
  --color-dark-grey: rgb(87, 87, 87);
  --color-grey: rgb(150, 150, 150);
  --color-grey2: rgb(200, 200, 200);
  --color-light-grey: rgb(220, 220, 220);
  --color-light-grey2: rgb(230, 230, 230);
  --color-light-grey3: rgb(238, 238, 238);
  --color-light-white: rgb(246, 246, 246);
  --color-light-white2: rgb(252, 252, 252);
  --color-white: white;
  --color-white-transparent: rgba(255, 255, 255, 0.5);
  --color-blue: #005FFF;
  --color-light-blue: #327dff;
}