@import '../variables.css';

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--color-dark-grey);
  user-select: none;
}

.item:hover {
  color: var(--color-black);
  opacity: 1;

  & .text {
    color: var(--color-blue);
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.category {
  display: flex;
}

.text {
  color: var(--color-black);
}

.item.dragging {
  opacity: 0;
}