@import '../variables.css';

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--color-grey);
  user-select: none;

  & .text {
    opacity: 0.9;
  }
}

.item:hover {
  color: var(--color-black);

  & .text {
    opacity: 1;
  }

  & .ranking_icon {
    background-color: var(--color-dark-grey);
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.ranking_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--color-grey);
  color: var(--color-white);
}

.category {
  display: flex;
}

.text {
  color: var(--color-black);
}

.item.dragging {
  opacity: 0;
}