@import '../variables.css';

.footer {
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - 350px);
  height: 80px;
  background-color: var(--color-white);
}

.chatbox {
}