@import '../variables.css';

.form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

.input {
  flex-grow: 1;
  max-width: 1000px;
  font-size: 1rem;
  padding: 0 2rem;
  border-radius: 2rem;
  background-color: var(--color-light-white);
  border: none;
}

.intput::selection {
  outline: none;
}

.input::placeholder {
  color: var(--color-grey);
}

.button {
  position: absolute;
  top: 50%;
  right: 3rem;
  transform: translateY(-50%);
  background-color: var(--color-light-grey);  
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
}

.button:hover {
  background-color: var(--color-grey);
}