@import '../variables.css';

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

.container {
  position: relative;
  flex-grow: 1;
  max-width: 1000px;
}

.input {
  font-size: 1rem;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  border-radius: 2rem;
  background-color: var(--color-light-white);
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--color-grey);
}

.button {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  background-color: var(--color-light-grey);  
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
}

.button.active {
  background-color: var(--color-grey);
  cursor: pointer;

  &:hover {
    background-color: var(--color-dark-grey);
  }
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-white);
}