@import "../../styles/font.css";
@import "../../styles/color.css";
@import "../../styles/theme.css";

.container {
  width: 100%;
}

.background {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: var(--theme-light-grey);
  border-radius: 0.3rem;
}

.chart {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  background-color: var(--theme-grey);
  border-radius: 0.3rem;
}

.text {
}
