@import '../../styles/font.css';
@import '../../styles/color.css';
@import '../../styles/theme.css';

.button {
  font-weight: var(--font-bold);
  box-shadow: 1px 2px 4px var(--theme-box-shadow);
}

.footbar_button {
  font-size: 1.3rem;
  margin-right: 1rem;
  width: 240px;
  height: 60px;
}

.sidebar_button {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  width: 100%;
}

.button.grey {
  color: var(--color-white);
  padding: 1rem 2rem;
  border: none;
  background-color: var(--theme-button-active);
  border-radius: 1rem;
  text-transform: uppercase;

  &:hover:not(:disabled) {
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--theme-button-hover);
  }

  &:disabled {
    color: var(--color-white);
    background-color: var(--theme-button-inactive);
    cursor: default;
  }
}

.button.blue {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: var(--font-bold);
  padding: 1rem 2rem;
  border: none;
  background-color: var(--color-light-blue);
  border-radius: 1rem;
  text-transform: uppercase;

  &:hover:not(:disabled) {
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-blue);
  }

  &:disabled {
    color: var(--color-grey);
    background-color: var(--color-light-grey);
    cursor: default;
  }
}