@import '../../styles/variables.css';

.button {
  font-weight: var(--font-bold);
}

.footbar_button {
  font-size: 1.3rem;
  margin-right: 0.7rem;
  width: 240px;
  height: 60px;
}

.sidebar_button {
  font-size: 1rem;
  margin-top: 0.8rem;
  width: 100%;
}

.button.grey {
  color: var(--color-white);
  padding: 1rem 2rem;
  border: none;
  background-color: var(--color-grey);
  border-radius: 0.5rem;
  text-transform: uppercase;

  &:hover:not(:disabled) {
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-dark-grey);
  }

  &:disabled {
    color: var(--color-white);
    background-color: var(--color-light-grey);
    cursor: default;
  }
}

.button.blue {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: var(--font-bold);
  padding: 1rem 2rem;
  border: none;
  background-color: var(--color-blue-transparent);
  border-radius: 0.5rem;
  text-transform: uppercase;

  &:hover:not(:disabled) {
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-blue);
  }

  &:disabled {
    color: var(--color-grey);
    background-color: var(--color-light-grey);
    cursor: default;
  }
}