@import '../../styles/variables.css';

.container {
  display: flex;
  align-items: center;
}

.colorbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  border: solid rgba(173, 173, 173, 0.34) 1px;
  background-color: rgba(214, 214, 214, 0.28);
}

.text {
  margin: 0.25rem;
}