@import '../../styles/font.css';
@import '../../styles/color.css';
@import '../../styles/theme.css';

.container {
  margin: 1rem 0;
}

.bar {
  height: 0.7rem;
  background: linear-gradient(
    to right,
    var(--color-white) 0%,
    var(--color-blue) 100%
  );
  margin-bottom: 0.5rem;
}

.scale {
  display: flex;
  justify-content: space-between;
}