@import '../../styles/font.css';
@import '../../styles/color.css';
@import '../../styles/theme.css';

.list {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  cursor: pointer;

  & p {
    font-size: 1rem;
    font-weight: var(--font-regular);
    margin: 0.25rem;
  }
}

.label:hover {
  & p {
    text-shadow: 0px 0px 0.8px var(--theme-text);
  }
}

.indicator {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  background-color: var(--color-white);
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.indicator::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: var(--color-dark-grey);
  transform: scale(0);
}

.input {
  opacity: 0;
  position: absolute;
}

.input:checked + .indicator::before {
  transform: scale(1);
}

.colorbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  border: solid var(--color-light-grey) 1px;
}

.text {
  margin-bottom: 2rem;
}