@import '../../styles/font.css';
@import '../../styles/color.css';
@import '../../styles/theme.css';

.container {
}

.container:active {
  cursor: grabbing;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: grab;
  user-select: none;
  border: 0.5px solid var(--color-grey2);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;

  & .text {
    opacity: 0.85;
    font-weight: var(--font-regular);
  }
}

.item:active {
  cursor: grabbing;
}

.item:hover,
.item.selected {
  border: 0.5px solid var(--color-grey);

  & .text {
    opacity: 1;
    text-shadow: 0px 0px 1px black;
  }
  & .ranking_icon {
    background-color: var(--color-dark-grey);
  }
  & .grip {
    opacity: 1;
  }
}

.grip {
  opacity: 0.5;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.ranking_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--color-grey);
  color: var(--color-white);
}

.category {
  display: flex;
}

.text {
}

.item.dragging {
  opacity: 0;
}