@import "../../styles/font.css";
@import "../../styles/color.css";
@import "../../styles/theme.css";

.container {
  padding: 0.3rem;
}

.list_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: start;
  padding: 0;
  font-size: 0.9rem;
  font-weight: var(--font-medium);
  border: none;
  cursor: pointer;
  background-color: transparent;

  & p {
    font-weight: var(--font-regular);
  }
}

.list_button:hover {
  & p {
    text-shadow: 0px 0px 0.8px var(--theme-text);
  }

  & .triangle {
    border-left: 0.5rem solid var(--color-dark-grey);
  }
}

.triangle {
  vertical-align: middle;
  border-left: 0.5rem solid var(--color-grey);
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  transition: transform 300ms ease;
}

.expanded .triangle {
  transform: rotate(90deg);
  border-left: 0.5rem solid var(--color-dark-grey);
}

.list {
  display: none;
  min-width: 160px;
}

.expanded .list {
  display: block;
}

.expanded .list_button p {
  text-shadow: 0px 0px 0.8px var(--theme-text);
}

.item {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;

  & p {
    width: 100%;
    margin: 0;
    color: var(--color-dark-grey);
  }
}

.spacer {
  width: 5rem;
}
