@import '../../styles/font.css';
@import '../../styles/color.css';
@import '../../styles/theme.css';

.container {
  font-size: 0.9rem;
  line-height: var(--line-height-small);
  padding: 1rem;
  padding-bottom: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  & p {
    margin: 0.5rem 0;
    line-height: var(--line-height-small);
  }
}

.message {
  padding: 0.5rem;

  /* fontawesome icons */
  & .icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    opacity: 0.8;
  }

  /* ReactMarkdown p element */
  & p {
    display: inline;
  }
}