@import '../../styles/font.css';
@import '../../styles/color.css';
@import '../../styles/theme.css';

.container {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0.8rem;
  border-bottom: 1px solid var(--color-grey2);
}

.navigate {
  font-size: 0.9rem;
  margin: 0 1rem;

  & span {
    margin: 0 0.5rem;
    user-select: none;
  }

  /* fontawesome icons */
  & .icon { 
    cursor: pointer;
  }
}

.body {
  font-size: 0.9rem;
  line-height: var(--line-height-small);
  padding: 0.5rem 1rem 0 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  & p {
    margin: 0.5rem 0;
    line-height: var(--line-height-small);
  }
}

.message {
  padding: 0.5rem;

  /* fontawesome icons */
  & .icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    opacity: 0.8;
  }

  /* ReactMarkdown p element */
  & p {
    display: inline;
  }
}