@import '../../styles/font.css';
@import '../../styles/color.css';
@import '../../styles/theme.css';

/* Header elements */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: var(--theme-background-grey);
  backdrop-filter: blur(var(--blur-intensity));
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid var(--color-light-grey);
  box-shadow: 1px 0px 4px var(--theme-box-shadow);
}

.navigate {
  font-size: 0.9rem;
  margin: 0 1rem;

  & span {
    margin: 0 0.5rem;
    user-select: none;
  }

  /* fontawesome icons */
  & .icon { 
    cursor: pointer;
  }
}

/* Body elements */
.body {
  max-height: 500px;
  font-size: 0.9rem;
  line-height: var(--line-height-small);
  padding: 1rem;
  margin: 0 0 0.5rem 0;
  background-color: var(--theme-background);
  backdrop-filter: blur(var(--blur-intensity));
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 1px 2px 4px var(--theme-box-shadow);
  overflow: scroll;
  overflow-x: hidden;

  & p {
    margin: 0.5rem 0;
    line-height: var(--line-height-small);
  }
}

.message {
  padding: 0.5rem;

  /* fontawesome icons */
  & .icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    opacity: 0.8;
  }

  /* ReactMarkdown p element */
  & p {
    display: inline;
  }
}

/* scrollbar on sidebar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  /* background: var(--color-light-white); */
}

::-webkit-scrollbar-thumb {
  background: var(--color-light-grey);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
  border-radius: 10px;
}