.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  pointer-events: none;

  & * {
    pointer-events: all;
  }
}
