@import '../../styles/variables.css';

.container {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 400px;
  min-width: 250px;
  font-size: 0.9rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--color-box-shadow);
}

.title {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 1rem;
}