@import '../../styles/font.css';
@import '../../styles/color.css';
@import '../../styles/theme.css';

.container {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 400px;
  min-width: 250px;
  font-size: 0.9rem;
  margin: 0.5rem;
  background-color: var(--theme-background);
  backdrop-filter: blur(var(--blur-intensity));
  border-radius: 1rem;
  box-shadow: 1px 2px 4px var(--theme-box-shadow);
}

.header {
  border-bottom: 0.5px solid var(--theme-light-grey);
}

.header_content {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.7rem 1rem;
}

.title {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin: 0 0.8rem 0 0;
}

.step_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--theme-light-grey);
  color: var(--color-white);

  &.current {
    background-color: var(--theme-dark-grey);
  }
}

.body {
  border-bottom-right-radius: 1rem;
  height: calc(100vh - 100px - 5rem);
  overflow: hidden;

  & .scroller {
    height: 100%;
    padding: 1rem;
    overflow-y: auto;
  }
}