@import '../../styles/variables.css';

.container {
  position: fixed;
  padding: 1rem;
  font-size: 0.9rem;
  line-height: var(--line-height-small);
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px var(--color-box-shadow);
}