@import "../../styles/font.css";
@import "../../styles/color.css";
@import "../../styles/theme.css";

.container {
  position: fixed;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 1px 2px 4px var(--theme-box-shadow);
  z-index: 100;
  transform: scale(0.9);
  transform-origin: left center;
}
