@import '../../styles/font.css';
@import '../../styles/color.css';
@import '../../styles/theme.css';

.section {
  font-size: 0.9rem;
  line-height: var(--line-height-small);
  padding: 0 1.5rem;
  border-radius: 0.5rem;

  > p {
    margin: 0.5rem 0;
    line-height: var(--line-height-small);
  }
}

.title {
  font-size: 1.1rem;
  font-weight: var(--font-bold);
  line-height: var(--line-height-large);
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 0.7rem;
  opacity: 0.9;
}

.subtitle {
  font-size: 1rem;
  font-weight: var(--font-medium);
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 0.5rem;
  opacity: 0.9;
}