@import '../../styles/font.css';
@import '../../styles/color.css';
@import '../../styles/theme.css';

.section {
  font-size: 0.9rem;
  line-height: var(--line-height-small);
  padding: 1rem;
  margin: 0.7rem 0;
  background-color: var(--theme-background);
  backdrop-filter: blur(var(--blur-intensity));
  border-radius: 0.5rem;
  box-shadow: 1px 2px 4px var(--theme-box-shadow);

  > p {
    margin: 0.5rem 0;
    line-height: var(--line-height-small);
  }
}

.title {
  font-size: 1.1rem;
  font-weight: var(--font-bold);
  line-height: var(--line-height-large);
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 0.7rem;
  opacity: 0.9;
}

.subtitle {
  font-size: 1rem;
  font-weight: var(--font-medium);
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 0.5rem;
  opacity: 0.9;
}