@import '../../styles/variables.css';

.section {
  font-size: 0.9rem;
  line-height: var(--line-height-small);
  padding: 1rem;
  margin: 0.7rem 0;
  background-color: rgba(150, 150, 150, 0.1); /* Semi-transparent white */
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px var(--color-box-shadow); /* Lighter shadow for subtle effect */
  backdrop-filter: blur(10px); /* Adds a blur effect to the background */
  color: black;
  > p {
    margin: 0.5rem 0;
    line-height: var(--line-height-small);
  }
}

.title {
  font-size: 1.1rem;
  font-weight: var(--font-bold);
  line-height: var(--line-height-large);
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 0.7rem;
  opacity: 0.9;
}

.subtitle {
  font-size: 1rem;
  font-weight: var(--font-medium);
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 0.5rem;
  opacity: 0.9;
}
